.CurrentBest_avatar {
	margin: 3px;
	height: 40px;
	border-radius: 20px;
}


.CurrentBest_exportButtonContainer {
	margin-bottom: 66px;
}

.CurrentBest_exportButton {
	all: unset;
  	cursor: pointer;
  	padding: 5px;
  	border-radius: 2px;
	background-color: #80f0ff;
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.66);
  	color: purple;
  	transition: 0.3s ease;
}

.CurrentBest_exportButton:hover {
	box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.33);
	color: #80f0ff;
	background-color: #e800e3;
}
