.Ranking_title {
	font-size: 4.5em;
	text-shadow:  3px 3px 2px rgba(0,0,0,0.30);
	cursor: pointer;
}

.Ranking_title > span {
	font-size: 0.7em;
	margin-right: 45px;
	margin-left: 45px;
}

.Ranking_title:hover {
	color: #e800e3;
}

.Ranking_tableContainer {
	display: inline-block;
	margin: auto;
}

.Ranking_table {
	width: 650px;
	border-collapse: collapse;
	border: 1px solid #80f0ff;
	margin-top: 30px;
	margin-bottom: 66px;
	font-size: 0.9em;
}


.Ranking_table > tr:nth-child(1) {
	background-color: #80f0ff; 
	color: purple;
	font-size: 1.3em;
	height: 50px;
}

.Ranking_table > tr{
	height: 45px;
	border-bottom: 1px solid #80f0ff;
}