.Home_mainPic {
	mix-blend-mode: screen;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-left: 35px;

	width: auto;
	max-width: 90vw;
	height: auto;
	max-height: 75vh;
}

.Home_header {
	display: inline-block;
	border-top: 1px solid #80f0ff;
	border-bottom: 1px solid #80f0ff;
	padding-top: -60px;
	margin-top: 25px;
}

.Home_header_title {
	text-shadow:  3px 3px 5px rgba(0,0,0,0.30);
	font-size: 7rem;
}

.Home_header_subTitle {
	text-align: right;
	font-style: italic;
	margin-top: -20px;
	font-size: 1.20rem;
}

@media only screen and (max-width: 500px) {

	.Home_header_title {
		font-size: 5rem;
	}

	.Home_header_subTitle {
		margin-top: -15px;
		font-size: 0.95rem;
	}
}

@media only screen and (max-width: 360px) {

	.Home_header_title {
		font-size: 3.5rem;
	}

	.Home_header_subTitle {
		margin-top: -5px;
		font-size: 0.8rem;
	}
}